.top {
   	height: 100vh;
   	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.contactCard {
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 4px;
	text-align: left;
	padding: 8px;
	margin: 12px;
	cursor: pointer;
}

.complete {
	text-decoration: line-through;
	color: grey;
	border-color: grey;
}